/*ESTILOS DEL BANNER*/
 .banner {
  text-align: center;
 }
/*ESTILOS DEL BTN DE CAMBIO DE MODOS*/

.fixed-action-btn {
  position: fixed;
  bottom: 2px;
  right: 24px;
}
.dark-mode {
  background-color: #333;
}
  /*ESTILOS DEL FOOTER*/
.p-2{
  text-align: center;
  background-color: #333;
  height:50px;
  line-height:50px;
  bottom:0;
  left:0;
  width:100%;
}
.bg-dark{
  color: #fff;
}
  