header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #423b3b;

}

.logo {
  width: 50px;
  border-radius: 50%;
  color: #333;
}
/*Estilos del componente NAV*/
.nav-m  {
  background: #333;
}

.nav-m a {
  color: #f1efef;
}

.nav-m a:hover {
  color: #ff7600;
}

/*Estilos del componente PRODUCT LIST*/
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 300px;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card h3 {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.product-card p {
  margin: 0 1rem 1rem;
  font-size: 1rem;
  color: #666;
}

.product-card button {
  display: block;
  margin: 0 auto 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #ff7600;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #ff8c38;
}



/*ESTILOS DEL BANNER*/
 .banner {
  text-align: center;
 }


/*ESTILOS DEL BTN DE CAMBIO DE MODOS*/

.fixed-action-btn {
  position: fixed;
  bottom: 2px;
  right: 24px;
}
.dark-mode {
  background-color: #333;
}



  /*ESTILOS DEL FOOTER*/
.p-2{
  text-align: center;
  background-color: #333;
  height:50px;
  line-height:50px;
  bottom:0;
  left:0;
  width:100%;
}
.bg-dark{
  color: #fff;
}
  